# Connection to Database using Python

##### Required installations

In [ ]:
!pip install db-sqlite3

##### Imports

In [2]:
import pandas as pd
import sqlite3
from datetime import date

##### Connecting to database

In [3]:
db = sqlite3.connect("ProjectDatabase.db")

##### Check if a table already exists before creation and if so delete it and create new table

In [4]:
db.execute("drop table if exists projectData")
try:
  db.execute("create table projectData(Name text, DOB datetime, Email_ID text)")
except:
  print("Table already exists!!")

##### Take some dummy data to insert in table

In [5]:
Names = ['Mike', 'John', 'Karine'] 
DOBs = [date.today().strftime("%m-%d-%Y"), "04-20-1997", "09-18-1993"]
Email_IDS = ['mike@gmail.com', 'john97@yahoo.com', 'kar93ine@abc.edu']

##### Put above data in table

In [6]:
for i in range(len(Names)):
  insertCmd = "insert into projectData(Name, DOB, Email_ID) values ('{}', '{}', '{}')".format(Names[i], DOBs[i], Email_IDS[i])
  db.execute(insertCmd)
  db.commit()

##### Method1: Get data

In [ ]:
data = db.execute("SELECT * FROM projectData")
for row in data:
  print(row)

##### Method2: Get data

In [8]:
query = """

SELECT * FROM projectData

"""
df = pd.read_sql_query(query, db)
df.head()

     Name         DOB          Email_ID
0    Mike  01-14-2022    mike@gmail.com
1    John  04-20-1997  john97@yahoo.com
2  Karine  09-18-1993  kar93ine@abc.edu